# Development (local)
VITE_API_URL_DEV=http://localhost:8081
VITE_WS_URL_DEV=http://localhost:8081/ws

# Production (Vercel)
VITE_API_URL_PROD=https://your-prod-api-url.com
VITE_WS_URL_PROD=wss://your-prod-api-url.com/ws
